BasedOnStyle: Google
AccessModifierOffset: -4
AlignConsecutiveMacros: true
AlignTrailingComments: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakInheritanceList: AfterColon
BreakConstructorInitializers: AfterColon
BreakAfterJavaFieldAnnotations: true
BreakStringLiterals: false
IncludeBlocks: Preserve
IndentCaseLabels: false
IndentWidth: 4
ReflowComments: false
SortIncludes: false
SortUsingDeclarations: false
SpaceBeforeCpp11BracedList: true
SpacesBeforeTrailingComments: 1
SpacesInContainerLiterals: false
TabWidth: 4
UseTab: Never